---
---

@import "{{ site.theme }}";

// .table-container table 
table {
    display: block !important;
    overflow: auto;
}

code.highlighter-rouge {
    color: #a5497e !important;
    font-weight: bold !important;
}